
* {
    color: white;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

:root {
    --custom-font: "Orbitron", sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: yellow;
    cursor: pointer;
}


.page::before {
    content: "";
    background: url("hero3.png") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 63rem;
    z-index: -100;
}

#pg1::before {
    background: url("Hero.png") no-repeat center center/cover;
}


#logo {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
}

#logo img {
    width: 4rem;
}

#logo div {
    font-family: var(--custom-font);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#nav {
    display: flex;
    justify-content: space-between;
}

#nav div {
    margin: 1rem;
}


#sect {
    width: 62rem;
    height: 37rem;
    position: absolute;
    top: 9rem;
    left: 21%;
    text-align: center;
    justify-content: center;
}

h1 {
    font-family: var(--custom-font);
    font-weight: bold;
    font-size: 6rem;
}

p {
    margin: 3rem 0;
}

button {
    background: none;
    border: none;
    top: 40rem;
}

button img {
    width: 13rem;
}

button img:hover {
    cursor: pointer;
    width: 13.8rem;
}


.planet {
    position: absolute;
    z-index: -50;
}

#p1 {
    width: 16rem;
    right: 0;
    top: 5rem;
}

#p2 {
    width: 12.5rem;
    left: 0;
    top: 5rem;
}

#p3 {
    width: 8rem;
    top: 6rem;
    right: 36rem;
}

#p4 {
    width: 20rem;
    top: 20rem;
}

#p5 {
    width: 9rem;
    top: 54rem;
}

#p6 {
    width: 14rem;
    top: 53.6rem;
    left: 40rem;
}

#p7 {
    width: 5rem;
    top: 27rem;
    left: 17rem;
}

#p8 {
    width: 25rem;
    top: 41rem;
    right: 0;
}


#pg2::before {
    background: url("hero2.png") no-repeat center center/cover;
    top: 63rem;
    height: 70rem;
}

#sun {
    top: 63rem;
    width: 100%;
}

.text {
    width: 50%;
    position: absolute;
    top: 90rem;
    left: 4rem;
}

.card {
    width: 22rem;
    position: absolute;
}

#card2 {
    left: 25rem;
}


#pg3::before {
    top: 133rem;
}

#mercury {
    width: auto;
    top: 142rem;
}

#mer_text {
    left: 45%;
    top: 142rem;
}

#mercury {
    width: 32.6rem;
}

#card4 {
    left: 25rem;
}

#card5 {
    top: 30rem;
}


#pg4::before {
    top: 196rem;
}

#venus {
    top: 209.3rem;
    right: 0;
    width: 52rem;
}

#ven_text {
    top: 205rem;
}

#ven_cards img {
    display: block;
    margin: 2rem;
}

#c7 {
    top: 30rem;
}

/* Page 5 */
#pg5::before {
    top: 259rem;
}

#earth {
    top: 288.4rem;
    left: 9%;
    width: 79rem;
}

#eshadow1 {
    top: 294.4rem;
    left: 5%;
    width: 86rem;
}

#rocket {
    top: 290rem;
    width: 11rem;
}

#c8 {
    top: 265rem;
    right: 8rem;
}

#arrow {
    top: 0;
    left: 44rem;
    width: 12em;
}

#moon_text {
    top: 284rem;
    left: 16rem;
    text-align: center;
    width: 43rem;
}

.subtext {
    position: absolute;
}

.subtext p {
    margin: 0.5rem;
    padding: 0;
}

h2 {
    font-size: 4rem;
    text-align: right;
}

#earth_text {
    top: 265rem;
}


#pg6::before {
    top: 322rem;
}

#mars {
    top: 355.5rem;
    width: 35rem;
}

#marsText {
    top: 330rem;
}

#martianMoon {
    top: 365rem;
    left: 36rem;
    width: 25rem;
    text-align: center;
}

#martianMoon h2 {
    font-size: 2.5rem;
}

#arrow2 {
    width: 10rem;
    bottom: 7rem;
    right: 19rem;
}

#c9 {
    top: 0;
    left: 60rem;
}

#c10 {
    top: 15rem;
    left: 60rem;
}

#c11 {
    top: 30rem;
    left: 60rem;
}


#pg7::before {
    top: 385rem;
}

#jshadow,
#jupiter {
    top: 385rem;
    right: 0;
    width: 45rem;
}

#jupiter {
    width: 58rem;
}

#jupiter_text {
    top: 395rem;
    width: 40rem;
}

#jupiter_cards {
    top: 400rem;
}

#c13 {
    top: 30rem;
}

/* Page 8 */
#pg8::before {
    top: 448rem;
}

#saturn {
    top: 453rem;
    width: 56rem;
}

#Saturn_text {
    position: absolute;
    top: 453rem;
    left: 45rem;
    text-align: right;
}

#c14,
#c15 {
    right: 10rem;
    top: 20rem;
}

#c15 {
    top: 35rem;
}


#pg9::before {
    top: 511rem;
}

#uranus {
    top: 543.2rem;
    right: 0;
    width: 85rem;
}

#uranus_text {
    top: 520rem;
    width: 30rem;
}

#c16,
#c17 {
    top: 1rem;
    left: 35rem;
}

#c17 {
    left: 60rem;
}


#pg10::before {
    top: 574rem;
}

#neptune {
    top: 573rem;
    width: 90rem;
}

#neptune_text {
    top: 576rem;
    text-align: center;
    left: 25rem;
}

#c18 {
    left: 0;
}


#pg11::before {
    top: 637rem;
    height: 36.5rem;
}

#last {
    top: 637rem;
    width: 90rem;
}

#black {
    background: rgb(34, 33, 33);
    top: 640rem;
    border-radius: 2rem;
    width: 53rem;
    height: 23rem;
    padding: 4rem 8rem;
    text-align: center;
    left: 15rem;
}

#black h2 {
    text-align: center;
    font-size: 3rem;
    font-family: var(--custom-font);
}

#email {
    padding: 1rem;
    width: 40rem;
    font-size: 1.5rem;
    height: 4rem;
    border-radius: 4rem;
    color: black;
}

#subscribe {
    position: absolute;
    top: 16.8rem;
    right: 14rem;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 3rem;
    width: 63rem;
    margin: 3rem 0;
}

#flogo {
    display: flex;
    align-items: center;
}

#flogo img {
    width: 2rem;
}

#flogo div {
    font-family: var(--custom-font);
}
